
.idea/inspectionProfiles/profiles_settings.xml
.idea/lab-2-offwithabang-towaquimbayo.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
__pycache__/vector.cpython-311.pyc
__pycache__/asteroid.cpython-311.pyc
